﻿@model WebApplication.Models.OrderVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderedQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderedQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderedProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderedProduct)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
